@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: Rubik-medium;
  src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: Open-sans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

h1, h4 {
  font-family: Rubik-medium;
}

p {
  font-family: Open-sans;
}

.row{
  margin: 0;
}

/* NAVBAR */
.navbar-custom {
  font-family: Open Sans;
  padding: .5rem 3rem;
}

.nav-link {
  color: #3b3b39 !important;
}

.nav-link:hover {
  color: #000 !important;
  transition: .3s;
}

.navbar-brand {
  color: #000 !important;
  font-family: Rubik-medium;
}

.navbar-brand:hover {
  color: #3b3b39 !important;
}

.navbar-brand span {
  color: #3b3b39 !important;
}

.navbar-brand span:hover {
  color: #000;
  transition: .7s;
}

/* resume */
#resume {
  text-align: center;
  padding: 25% 7%;
}

.resume {
  color: #3b3b39;
}

.resume-button {
  padding: 1rem 0;
}

.btn-outline-dark {
  padding: .7rem 3rem;
}

.btn-outline-dark:hover {
  background: #3b3b39;
  transition: .7s;
}

/* service */
#services {
  background-color: #f9f9f9;
  color: #3b3b39;
  line-height: 1.6;
  padding: 0 0 3% 0;
  text-align: center;
}

#services .service-item i, h1, p {
  padding-top: 1rem;
}

#services .service-item i:hover{
  color: #0c093c;
}

#services .service-item h1:hover{
  color: #000;
}

.title-services {
  padding: 5% 25% 3%;
}

.service-items-left {
  padding: 3% 2% 3% 15%;
}

.service-items-right {
  padding: 3% 15% 3% 2%;
}

.service-item {
  box-shadow: 5px 3px 3px #c1c1c1;
  background-color: #e9e9e9;
  color: #3b3b39;
  padding: 3% 15%;
}

/* skills */


#skills{
  background-color: #fff;
  text-align: center;
}

#skills .row{
  margin: 0;
  padding: 0 11% 3%;
}

.title-skills {
  padding: 5% 25% 3%;
}

.service-items{
  padding: 2% 3%;
}

.skill-item i {
  padding: 1.5rem 1rem;
}

.skill-item h4 {
  padding-bottom: 1rem;
}

.skill-item{
  box-shadow: 5px 3px 3px #c1c1c1;
}

.skill-item:hover{
  box-shadow: -5px -3px 3px #c1c1c1;
  transition: .5s;
}

/* clients */


#clients {
  background-color: #d6e0f0;
  text-align: center;
  padding: 19% 7%;
}

.title-clients {
  padding: 0 23% 3%;
}

.client-item{
  padding: 1.5rem 1rem;
}



/* contact */


#contact {
  background-color: #fff;
  padding: 5% 15%;
}

#contact .contact-item{
  padding: 0 13%;
}

.title-contact {
  padding: 5% 15% 3%;
  text-align: center;
}

.address{
  background-color: #d6e0f0;
  padding: 1% 0;
}

.address-item{
  padding: 5% 0;
}

.address-item p{
  padding: 0;
  line-height: normal;
}

.social-icon{
  padding: 0;
}

.social-icon i{
  color: #000;
  padding: .5rem;
}

.social-icon i:hover{
  color: #84a9ac;
}

.form{
  background-color: #d6e0f0;
  text-align: center;
}

.form-row{
  padding: 7% 0;
}

.input-item{
  padding: .2rem 0;
}

.input-btn{
  padding: 1rem 0 0 0;
}

#contact .btn-outline-dark{
  outline-color: #000;
}
#contact .btn-outline-dark:hover{
  background-color: #000;
  outline-color: #000;
}


/* footer */

#footer{
  background-color: #212529;
  color: #84a9ac;
}
#footer a{
  color: #fff;
  text-decoration: none;
}
