*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;	
}

body{
	background: #585c68;
	font-size: 14px;
	line-height: 22px;
	color:#555555;
}

.bold{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.semi-bold{
	font-weight: 500;
	font-size: 16px;
}

.regular{
	font-weight: 400;
	font-size: 14px;
}


.resume{
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px auto;
}

.resume .resume-left{
	width: 300px;
	background: #0bb5f4;
}

.resume .resume-left .resume-profile{
	width: 100%
	height: 300px;
}

.resume .resume-left .resume-profile img{
	height: 300px;
}

.resume-content{
	padding: 0 25px;
}

.resume .title{
	margin-bottom: 20px;
}

.resume .resume-left .bold{
	color: #fff;
}

.resume .resume-left .semi-bold{
	color: #b1eaff;
}

.resume .resume-item{
	padding: 25px 0;
	border-bottom: 2px solid #b1eaff;
}

.resume .resume-left .resume-item:last-child,
.resume .resume-right .resume-item:last-child{
	border-bottom: 0px;
}

.resume .resume-left ul li{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.resume .resume-left ul li:last-child{
	margin-bottom: 0;
}


.resume .resume-left ul li .icon{
	width: 25px;
	height: 25px;
	background: #fff;
	color: #0bb5f4;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 16px;
	position: absolute;
}

.resume .icon i{
	transform: translate(31%, 13%);
}

.resume .resume-left ul li .data{
	margin-left: 30px;
	color: #b1eaff;
}

.resume .resume-left .resume-skills ul li{
	color: #b1eaff;
	justify-content: space-between;
}

.resume .resume-left .resume-skills ul li .skill-name{
	width: 25%;
}

.resume .resume-left .resume-skills ul li .skill-progress{
	width: 60%;
	margin: 0 5px;   
	height: 5px;
	background: #009fd9;
	position: relative;
}

.resume .resume-left .resume-skills ul li .skill-progress span{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	background: #fff;
}

.resume .resume-right{
	width: 500px;
	background: #fff;
	padding: 25px;
}

.resume .resume-right .bold{
	color: #0bb5f4;
}

.resume .resume-right .resume-work ul, 
.resume .resume-right .resume-education ul{
	padding-left: 40px;
	overflow: hidden;
}

.resume .resume-right ul li{
	position: relative;
}

.resume .resume-right ul li .date{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.resume .resume-right ul li .info{
	margin-bottom: 20px;
}

.resume .resume-right ul li .info p{
	padding-bottom: 10px;
}


.resume .resume-right ul li .info:last-child{
	margin-bottom: 0px;
}

.resume .resume-right .resume-work ul li:before, 
.resume .resume-right .resume-education ul li:before{
	content: "";
	position: absolute;
	top: 7px;
	left: -25px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 2px solid #0bb5f4;
}

.resume .resume-right .resume-work ul li:after, 
.resume .resume-right .resume-education ul li:after{
	content: "";
	position: absolute;
	top: 15px;
	left: -22px;
	width: 4px;
	height: 185px;
	background: #0bb5f4;
}

.resume .resume-right .resume-hobby ul{
	display: flex;
	justify-content: space-between;
}

.resume .resume-right .resume-hobby ul li{
	width: 60px;
	height: 60px;
	border: 2px solid #0bb5f4;
	border-radius: 50%;
	position: relative;
	color: #0bb5f4;
}
.resume .resume-right .resume-hobby ul li i{
	position: absolute;
	font-size: 30px;
	top: 49%;
	left: 52%;
	transform: translate(-54%, -46%);
}

.resume .resume-right .resume-hobby ul li:before{
	content: "";
	position: absolute;
	top: 28px;
	right: -71px;
	width: 71px;
	height: 2px;
	background: #0bb5f4;
}

.resume .resume-right .resume-hobby ul li:last-child:before{
	display: none;
}
